.place__title {
    font-weight: 900;
}

@media screen and (min-width:320px) {
    .place__title {
        margin: 0 0 32px;
        max-width: max(288px, 100%);
        font-size: clamp(32px, (1rem + 5vw), 42px);
        line-height: 1.09;
    }
}

@media screen and (min-width:768px) {
    .place__title {
        margin: 0 0 48px;
        max-width: max(340px, 100%);
        font-size: clamp(42px, (1rem + 5vw), 72px);
        line-height: 1.1;
    }
}

@media screen and (min-width:1024px) {
    .place__title {
        font-size: 4.5em;
        line-height: 1.06;
    }
}