.place__paragraph {
    margin: 0 0 25px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.63;
    padding: 0 5%;
    max-width: max(288px, 100%);
}

.place__paragraph:last-child {
    margin: 0;
    padding: 0 5%;
}


@media screen and (min-width:768px) {
    .place__paragraph {
        padding: 0;
        max-width: max(352px, 100%);
        font-size: clamp(1em, (0.5rem + 1vw), 1.125em);
    }

    .place__paragraph:last-child {
        padding: 0;
    }
}

@media screen and (min-width:1024px) {
    .place__paragraph {
        margin: 0 0 26px;
        max-width: max(456px, 100%);
        font-size: 1.125em;
    }
}

@media screen and (min-width:1280px) {
    .place__paragraph {
        margin: 0 0 26px;
    }
}