.cover {
    margin: auto;
}

@media screen and (min-width:1024px) {
    .cover {
        max-width: 1184px;
    }
}

@media screen and (min-width:1280px) {
    .cover {
        max-width: 100%;
    }
}





