.cover__title {
    margin: 0 0 32px;
    max-width: 560px;
    line-height: 1.06;
    font-size: 4.5em;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
}

@media screen and (max-width:767px) {
    .cover__title {
        margin: 0 0 16px;
        font-size: clamp(2em, (1rem + 5vw), 4.5em);
        line-height: 1.09;
    }
}