@media screen and (min-width:320px) {
    .intro__content {
        margin: 0 16px 64px;
        max-width: max(288px, 100%);
    }
}

@media screen and (min-width:768px) {
    .intro__content {
        margin: 0 24px 88px;
        max-width: min(720px, 100%);
    }
}

@media screen and (min-width:1024px) {
    .intro__content {
        margin: 0 48px 40px;
        max-width: 690px;
    }
}

@media screen and (min-width:1280px) {
    .intro__content {
        margin: 0 148px 92px;
    }
}